
body{
    background-color: aqua;

}

h1{
    position: sticky;
    margin-left: 42%;
}

p{
    margin-top: 0%;
    margin-bottom: 0%;
}

#homeDiv{
    position: relative;
    width: 80%;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3%;
    background-color: antiquewhite;
}

#logo{
    position: relative;
    width: 30%;
    border: 1px solid black;
    margin-left: 4.5%;
    margin-top: 3%;
    float: left;
    height: 120px;
}

#slogan{
    position: relative;
    width: 60%;
    border: 1px solid black;
    margin-left: 4%;
    margin-top: 3%;
    float: left;
    height: 120px;
}

#menu{
    position: relative;
    width: 92%;
    border: 1px solid black;
    margin-left: 4.5%;
    margin-top: 2%;
    height: 40px;
    float: left;
}

.content{
    position: relative;
    width: 20%;
    border: 1px solid black;
    margin-left: 4.5%;
    margin-top: 2%;
    float: left;
    height: 200px;
}
.clear{
    clear: both;
}

